%p
  %strong
    Thank you for signing up for this site.
%p
  Please click the following link to verify your email address:

= @verification_url

%p
  If the above URL does not work, try copying and pasting it into your browser. If you continue to have problems, please feel free to contact us.