!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    %title
      ABYSA
      
    = stylesheet_link_tag 'reset', 'formtastic', 'screen', 'calendar', 'facebox', :media => 'all', :cache => true
    = javascript_include_tag :defaults, 'facebox', 'base', :cache => true
  
  %body{ :class => body_class }
    #wrapper
      #header
      
      #main-nav
      
      #content
        = render :partial => '/layouts/flashes'
        = yield
      
      #footer